<%= image_tag("logo.png", size: "539x75", alt: "Fusion Mania") %>

<div class="menubar">
<%= link_to "TOP", root_path %> &nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to "ライブ一覧", "" %> &nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to "バンド一覧", "" %> &nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to "マニア民一覧", "#" %> &nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to "管理ページ", "#" %>
</div>

